.ord {
  display: flex;
  align-content: center;
  justify-content: center;
}
a:hover {
  color: green;
  border-bottom: 2px solid green;
}
nav {
  -webkit-box-shadow: 10px 12px 32px -8px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 12px 32px -8px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 12px 32px -8px rgba(0, 0, 0, 0.64);
  margin-bottom: 30px;
}
