<nav class="navbar navbar-expand">
  <div class="container justify-content-around">
    <div class="d-flex justify-content-around" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link" [routerLink]="['/birds']" routerLinkActive="active"
        >Pajaros</a
        >
        <a
          class="nav-link"
          [routerLink]="['/countries']"
          routerLinkActive="active"
        >Paises</a
        >
        <a class="nav-link" [routerLink]="['/zones']" routerLinkActive="active"
        >Zona</a
        >
      </div>
    </div>
  </div>
</nav>
