<form class="g-3 needs-validation" novalidate #form="ngForm">
  <div class="col">
    <label *ngIf="!guardarBtn" class="form-label">Id: {{id}}</label>
  </div>
  <div class="col">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input name="name" type="text" class="form-control" id="validationCustom01" [(ngModel)]="name" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col mt-lg-5 justify-content-end d-flex">
    <button *ngIf="guardarBtn" [disabled]="form.invalid" class="btn btn-primary" type="submit" (click)="saveCountry()">
      Guardar
    </button>
    <button *ngIf="!guardarBtn" [disabled]="form.invalid" class="btn btn-primary" type="submit" (click)="updateCountry()">Editar</button>
  </div>
</form>
